@import url(reset.css);
body{
	background: url("http://dynamo_kiev.ua/images/bg.png") repeat;
	font-family: Arial, Helvetica, sans-serif;
}

.clear{
	clear: both;
}

.titleNews{
	background-color: #cccccc;
	padding: 10px 5px 8px 5px;
	border-radius: 5px;
	margin-bottom: 10px;
	font-weight: bold;
}

#wrapper {	
	width: 1024px;
	margin: 0 auto;
	margin-top: 10px;
}


header{
	background: linear-gradient(180deg, #62a6de 0%, #4593c0 60%, #247fb3 61%, #096e98 100%);
	height: 250px;
}

header img {
	float: left;
	display: block;
	padding-left: 50px;
}

header h1 {
	color: #fff;
	float: left;
	font-size: 210%;
	margin-top: 125px;
	margin-left: 35px;
}

#top{
	height: 35px;
	background-color: #096e98;
	border: 2px solid #fff;
}
#topmenu {
	display: block;
	list-style: none;
	
	padding-top: 5px;
	float:left;
}

#topmenu li {
	float: left;
	display: block;
	cursor: pointer;
}

#topmenu a {
	background: url("http://dynamo_kiev.ua/images/bg_item.png") no-repeat right top;
	color: #fdfeff;
	display: block;
	text-decoration: none;
	padding: 9px 10px 5px;
}

#topmenu a:hover , #topmenu a.active {
	background-color: #06445e;
	border: 1px solid #06445e;
	padding: 8px 9px 4px;
	border-radius: 5px;
} 
 
#search {
	float: right;
	padding-top: 5px;
	padding-right: 5px;
}

#search input[type="text"]{
	background-color: #f7f7f7;
	border: none;
	color: #23252b;
	border-radius: 5px 0 0 5px;
	height: 22px;
	width: 263px;
	padding-left: 5px;
}


#search input[type="submit"]{
	background: url("http://dynamo_kiev.ua/images/icon_search.png") no-repeat right center;
	border: none;
	float: right;
	height: 24px;
	cursor: pointer;
	margin-left: -4px;
	width: 32px;
}


#content {
	margin-top: 20px;
	margin-bottom: 20px;
}

#left {
	width: 220px;
	float: left;
	margin-right: 4px;
}

.block {
	box-shadow: 4px 5px 5px #dddcdd;
	margin-bottom: 20px;
}

.block .header {
	background: linear-gradient(180deg, #5aa1dc 0%, #3a8cbc 60%, #227eb2 61%, #096e98 100%);
	color: #fff;
	border-radius: 7px 7px 0 0;
	font-size: 120%;
	padding: 10px 10px 7px 10px;
}

.block .content {
	background-color: #e8f3f8;
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
	border-radius: 0 0 5px 5px;
	border-right: 2px solid #fff;
	padding: 10px 0;
}

.block nav div div {
	padding-left: 20px;
}
.block nav div div:nth-of-type(odd), .block nav div div:nth-of-type(2) {
	background: url("http://dynamo_kiev.ua/images/menu_sep.png") no-repeat center bottom;
} 

.block nav > div > a:only-of-type {
	background: url("http://dynamo_kiev.ua/images/menu_sep.png") no-repeat center bottom, 
	url("http://dynamo_kiev.ua/images/arrow_menu.png") no-repeat 8px center;
}

.block nav a {
	background: url("http://dynamo_kiev.ua/images/arrow_menu.png") no-repeat 8px center;
	color: #444953;
	display: block;
	padding: 10px 0 10px 20px;
	text-decoration: none;
}

.block nav p {
	color: #444953;
	display: block;
	padding: 10px 0 10px 20px;
	text-decoration: none;
}

.block nav div:last-child a{
	background: url("http://dynamo_kiev.ua/images/arrow_menu.png") no-repeat 8px center;
}

.block nav div a:hover, .block nav div a.active {
	background: url("http://dynamo_kiev.ua/images/arrow_menu_active.png") no-repeat 8px center #d3d3d3;
	border-left: 2px solid #c8504b;
}


#center{
	border: 2px solid #fff;
	border-radius: 5px;
	overflow: hidden;
	padding: 5px;
	background: linear-gradient(180deg, #fff, #e6e6e6);
}

#contentNews h1 {
	font-size: 18px;
	font-weight: bold;
	margin: 5px 0 10px 75px;
	
}

#contentNews h2 {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

#contentNews p {
	text-align: center;
	overflow: hidden;
	font-family: Georgia, Times New Roman, Times, serif;
	font-style: italic;
}

#logotip {
	height: 300px;
	width: 300px;
	background: url("http://dynamo_kiev.ua/images/logotip.jpg") no-repeat;
	background-size: cover;
	float: left;
	margin-right: 7px;
	margin-bottom: 5px;
}

.author {
	font-weight: bold;
}

#achievment p {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	float: left;
	margin: 10px 7px !important;
	text-transform: uppercase;
	font-weight: bold;
}

#achievment span {
	color: #247fb3;
}


footer {
	height: 30px;
	background: linear-gradient(180deg, #4796d8, #096e98);
	color: #fff;
	border-bottom: 1px solid #05435e;
	padding: 5px 0;
	text-align: center;
}

footer p {
	font-size: 90%;
	padding-top: 10px;
}


/*Contacts*/

h4 {
	font-size: 18px;
	margin: 10px;
	font-weight: bold;
}

.address_sep {
	width: 750px;
	height: 20px;
	background: url("http://dynamo_kiev.ua/images/line_sep.png") repeat-x center;
	margin-left: 20px;	
}
#addressService {
	width: 750px;
	border: 2px solid #05435e;
	margin: 15px 20px;
}

#addressService td{
	text-align: center;
	padding: 5px;
	font-size: 14px;
}

.addressClub {
	width: 750px;
	border: 2px solid #05435e;
	margin: 15px 20px;
}

.activAddress {
	background-color: #cccccc;
}

.addressClub  th{
	font-weight: bold;
	padding: 5px;
	border: 1px solid #05435e;
	width: 250px;
	font-size: 14px;
}

.addressClub  td{
	border: 1px solid #05435e;
	text-align: center;
	padding: 5px;
	width: 250px;
	font-size: 14px;
}

/*Stadium Slaider*/

#newsStadium  p{
	font-size: 14px;
	display: block;
	padding: 2px 10px 5px 10px;
}

#slider {
	width: 667px;
	padding: 10px;
	margin: 0 auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	position: relative;
	margin-bottom: 20px;
	margin-top: 10px;
}

.bxslider li img {
	max-width: 100%;
	display: block;
}

.bx-prev {
	display: block;
	width: 30px;
	height: 34px;
	background: #fff url("http://dynamo_kiev.ua/images/bx-prev.png") no-repeat center center;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -17px;
	text-indent: -9999px;
	border-radius: 0 3px 3px 0;
	z-index: 100;
}

.bx-next {
	display: block;
	width: 30px;
	height: 34px;
	background: #fff url("http://dynamo_kiev.ua/images/bx-next.png") no-repeat center center;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -17px;
	text-indent: -9999px;
	border-radius: 3px 0 0 3px;
	z-index: 100;
}

/*Management*/

#management h2 {
	text-align: left;
	display: block;
	margin-bottom: 10px;
}

#management h2 span, #management article p span {
	font-weight: bold;
}

#management img {
	float: left;
	margin-right: 5px;
}

#management p{
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	text-align: left;
	display: block;
	padding: 10px 0 10px 5px; 
}

/*Sponsors*/

#sponsors  table{
	width: 750px;
	border: 2px solid #05435e;
	margin: 15px 20px;
	height: 100%;
}

#sponsors  td{
	text-align: left;
	padding: 5px;
	border: 1px solid #05435e;
	vertical-align: middle;
}

#sponsors  tr:nth-of-type(odd){
	background-color: #fff;
}

/*Tables*/

#tables table{
	width: 750px;
	border: 2px solid #05435e;
	margin: 15px 20px;
	height: 100%;
}

#tables th{
	font-weight: bold;
	padding: 5px;
	border-bottom: 1px solid #05435e;
	width: 250px;
	background-color: #cccccc;
	font-size: 13px;
}

#tables td{
	padding: 5px;
	border-bottom: 1px solid #05435e;
	width: 250px;
	text-align: center;
	background-color: #fff;
	font-size: 12px;
	vertical-align: middle;
}

#tableInfo h4 {
	font-size: 14px;
	font-weight: bold;
}

#tableInfo p {
	font-size: 13px;
	display: block;
	padding: 0 10px 5px 10px;
}

/*Coach*/

.coach {
	margin-bottom: 10px;	
	float: left;
	width: 250px;
}

.coach img{
	margin: 5px 10px 10px 5px;
	height: 115px;
	width: 92px;
	float: left;
}

.coach  p{
	font-size: 12px;
	font-style: italic;
	font-size: 100%;
}
.coach  h4{
	font-size: 14px;
	font-size: 100%;
}

/*News*/

.article_img {
	float: left;
	margin-bottom: 10px;
	margin-right: 15px;
	width: 117px;
}

.news_img {
	float: left;
	margin-bottom: 10px;
	margin-right: 15px;
	width: 402px;
}

.article_img img, .news_img img {
	border: 2px solid #fff;
	box-shadow: 4px 5px 3px #545454;
	width: 100%;
}

section {
	margin-bottom: 30px;
}

.date_img {
	border: none !important;
	box-shadow: none !important;
	height: 52px;
	width: 52px !important;
}

.date_text {
	color: #fff;
	font-size: 90%;
	margin-top: -48px;
	text-align: center;
	width: 52px;
}


.article_info {
	background-color: #b1cad5;
	font-size: 90%;
	margin: 10px -15px 0;
	padding: 3px 0;
}

.article_info ul {
	margin: 0;
	padding: 0;
}

.article_info li {
	float: left;
	padding: 0 20px 0 0;
}

.article_info li:first-child {
	list-style: none;
	margin-left: 20px;
}

.article_info li:last-child {
	margin-right: 20px;
}

.more {
	background: url("http://dynamo_kiev.ua/images/arrow_more.png") no-repeat right center #f0b017;
	border: 1px solid #976c05;
	border-radius: 3px;
	color: #fefaf4;
	display: block;
	float: right;
	padding: 2px 20px 2px 5px;
	margin-top: 10px;
}

.more:hover {
	border-radius: 0;
	text-decoration: none;
}

#center h2  {
	color: #444953;
	font-weight: bold;
	margin: 5px 0;
}

#center p {
	color: #444953;
	margin: 5px 0;
}

#center a {
	color: #006699;
	text-decoration: none;
}

#center a:hover {
	text-decoration: underline;
}

.bottom_info {
	margin-bottom: 15px !important;
}

/*History coaches*/

#history_coach table {
	border: 1px solid #05435e;
}

#history_coach td{
	text-align: center;
	padding: 5px;
	font-size: 14px;
}

#history_coach  th{
	font-weight: bold;
	padding: 5px;
	border: 1px solid #05435e;
	width: 250px;
	font-size: 14px;
}

#history_coach  tr:nth-of-type(odd){
	background-color: #fff;
}

/*Gold names*/

.gold_names p {
	font-size: 14px;
	text-indent: 20px;
}

.golds {
	font-weight: bold;
	font-size: 15px;
	padding: 8px 0;
}

/*achievment*/

.achivements {
	background-color: #fff;
}

.achivements h2{
	font-size: 18px;
	padding-top: 5px;
	padding-left: 5px;
}

.achivements p{
	font-size: 14px;
	text-indent: 20px;
	display: block;
	padding: 10px 0;
}

.achivements img{
	font-size: 18px;
	margin-left: 10px;
}

/* Pagination */
ul#pagination{
	text-align: center;
    margin-left: 10px;
    margin-top: 0px;
    padding:0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

ul#pagination li{
    display: inline;
    margin: 5px;
    padding: 3px;
}

ul#pagination li.active{
    background-color: #247fb3;
    color:#FFFFFF;
}

#auth_admin{
	text-align: center;
}